  * {
      text-decoration: none;
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-family: "Manrope", sans-serif;
      font-optical-sizing: auto;
      font-weight: normal;
      font-style: normal;
      color: white;
  }

  .main * {
      margin: 8px;
  }

  p {
      font-size: 1em;
      font-weight: 100;
  }

  .info {
      width: 50%;
      margin-right: 1em;
      margin-bottom: 16em;
  }

  .info a {
      color: rgb(178, 122, 255);
  }

  .main-container {
      margin-top: 100px;
      /* padding-left: 10em;
      padding-right: 10em; */
      display: flex;
      justify-content: center;
  }

  .last-posts {
      text-align: center;
      margin: 1em;
  }

  h1 {
      font-size: 40px;
      font-weight: bold;
  }

  body {
      background: #03002b;
      background: linear-gradient(333deg, rgba(3, 0, 43, 1) 0%, rgba(43, 43, 43, 1) 100%);
  }

  .main {
      display: flex;
      flex-direction: row;
      /* padding: 3em 1em 3em 3em; */
      text-align: left;
      margin: auto;
      justify-content: center;
  }

  img {
      width: 3em;
      border-radius: 5px;
  }

  h2 {
      font-size: 15px;
      font-weight: bold;
  }



  .header {
      display: flex;
      align-items: center;
      flex-direction: row;
      position: fixed;
      width: 100%;
      text-align: center;
      background: rgba(255, 255, 255, 0.13);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.2px);
      -webkit-backdrop-filter: blur(6.2px);
      padding: 15px;
  }

  .header a {
      margin-left: 3em;
      color: rgb(255, 255, 255);
      font-size: 1em;
      font-weight: bolder;
  }

  a:hover {
      color: rgb(100, 129, 135);
  }

  footer {
      background-color: gainsboro;
      text-align: center;
      color: white;
      background: rgba(255, 255, 255, 0.13);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.2px);
      -webkit-backdrop-filter: blur(6.2px);
      padding: 20px;
      bottom: 0;
  }

  button {
      width: 8em;
      height: 2em;
      color: white;
      background-color: #03002b;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-weight: 600;
  }

  button:hover {
      background-color: #262537;
  }

  .blog {
      display: flex;
      background-color: rgba(250, 235, 215, 0.052);
      border-radius: 6px;
      padding: 4px;
  }

  .blogg {
      display: flex;
      background-color: rgba(250, 235, 215, 0.052);
      border-radius: 6px;
      padding: 4px;
  }

  .blog:hover {
      background-color: #4d4c5a;
      cursor: pointer;
  }

  @media screen and (max-width: 500px) {
      .main-container {
          flex-direction: column;
          height: 1200px;
      }

      .last-posts {
          margin-top: 1em;
      }

      .info {
        width: 100%;
          margin-bottom: 32em;
      }
  }